# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=task_gamification_db
DB_DIALECT=mysql

# JWT
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=24h

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880

# Socket
SOCKET_CORS_ORIGIN=http://localhost:5173
